.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
    overflow: hidden;
    background-image: url("../images/shapes/92.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .header {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        &__wrap {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60vw;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 2rem;  
            & li {
                font-style: bold;
                font-size: 18px;
                font-weight: 700;
            } 
          
        }
        @media(max-width: 1200px){
            &__wrap{
                width: 100vw;
            }
        }
        @media(max-width: 650px){
            &__sm{
                display: none;
            }
        }  
        @media(max-width: 370px){
            &{
                left: 36%;
            }
            &__wrap {
                gap: 20%;
            }
           .coolLink[data-text="Home"]{
            display: done;
           }
        } 

    }
    .socials {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10rem;
        display: flex;
        align-items: center;
        gap:1rem;
        z-index: 2;
    }
    .scrollDown{
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        &__wheel{
            height: 42px;
            width: 24px;
            border-radius: 10px;
            border: 2px solid #fff;
            &--inner{
                position: absolute;
                left: 10px;
                width: 4px;
                margin-top: 5px;
                height: 4px;
                background: #fff;
                border-radius: 50%;
                animation: movingwheel .5s linear infinite;
                @keyframes movingwheel{
                    0%{
                        top: 1px;
                    }
                    25%{
                        top: 2px;
                    }
                    50%{
                        top: 3px;
                    }
                    75%{
                        top: 2px;
                    }
                    100%{
                        top: 1px;
                    }

                }
            }
        }
        .scrollDown__arrows{
            display: flex;
            flex-direction: column;
            align-items: center;
            .scrollDown__arrow{
                width: 15px;
                height: 15px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(45deg);
                animation: scrollAnim 1s infinite;
                animation-direction: alternate;
                &:nth-child(1){
                    animation-delay: 0.1s;
                }
                &:nth-child(2){
                    animation-delay: 0.2s;
                }
                &:nth-child(3){
                    animation-delay: 0.3s;
                }
                @keyframes scrollAnim{
                    0%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 0.5;
                    }
                    100%{
                        opacity:1;
                    }
                }
            }
        }
    }
    .intro{
        position: absolute;
        top: 20%;
        left: 1rem;
        width: 100%;
        height: 60%;
        z-index: 2;
        color: #fff;
        font-family: 'Quantico', sans-serif;
       & h3{
            font-size: 33px;
            font-family: 'Gloria Hallelujah', cursive;
        }
        & h4{
            font-size: 25px;
            width: 93%;
            padding-top: 0.5rem;
    }
   & h1{
        font-family: 'Press Start 2P', cursive;
        font-size: 35px;
            width: 93%;
            padding-top: 1rem;
    }
    @media(min-width: 685px)
    {
       & h3{
            font-size: 40px;
        }
       & h1{
            font-size: 42px;
        }
        & h4{
            font-size: 31px;
        }
    }
    @media(min-width: 1200px)
    
    
    {
        & {
            left: 5%;
        }
       & h3{
            font-size: 45px;
        }
       & h1{
            font-size: 48px;
        }
       & h4{
            font-size: 36px;
        }
    }
    
}
}
