@import "./base.scss";
.reviews{
    position: relative;
    background: $darkish-blue;
    color: #fff;
    &__header{
        display: flex;
        align-items: center;
        gap: 1rem;
        .instructor{
            position: relative;
            background: #28316013;
            box-shadow: 0 8px 32px 0 $box-shadow-blue1;
            &__curve{
                position: absolute;
                top: -10px;
                left: 15px;
                width: 20%;
                height: 120%;
                border-left: 2px solid $red-color;
                border-radius: 50%;
                transform: rotate(-20deg);
                box-shadow: 0  8px 32px 0 $box-shadow-blue2 ;

            }
            &__infos{
                display: flex;
                align-items: center;
                gap: 15px;
                font-size:17px;
            }
            
            &__img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border-right: 2px solid $red-color;
            }
        }
    }
}
.swiper__wrapper{
    padding: 2rem 0;
}
.swiper{
    min-height: 500px;
    user-select: none;
}
.review{
    position: relative;
    display: flex;
    font-size: 16px;
    padding:5px;
    &__card{
        position: relative;
        width: 100%;
        padding: 2rem 0;
        display: flex;
        @media(min-width:650px){
            &{
                font-size:18px;
                font-family: sans-serif;
            }

        }
    }
    & svg{
        width: 30px;
        fill: $red-color;
    }
    &__topborder{
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
    } 
   
    &_img{
        width: 70px;
        height: 100px;
        object-fit:cover;
        border-radius: 35px;

        &__text{
            user-select: none;
        }
    }
    &__profile{
        span{
            font-family: "Haghisty_DEMO",sans-serif;
            font-size:20px;
            font-weight: 600;
            color:$red-color;
        }
        position: absolute;
        left: 5rem;
        bottom: -3.5rem;
        display: flex;
        flex-direction: column;
        font-family: 'DM Serif Display', serif;
        font-size: 17px;
    }

}


.swiper__tools{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0 4rem 0 2rem;
}
.swiper__buttons{
    display: flex;
    button{
        position: relative;
        background: transparent;
        padding: 1rem 3rem;
        border-radius: 50px;
        border: 1px solid #fff;
        margin-right: 2rem;
        &:after{
            display: none;

        }
        img{
            filter:invert(100%);
        }
        &:first-of-type{
            transform: rotate(180deg);
        }
    }
}
.swiper-pagination{
    position: relative
    ;
}